<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Devophp Dashboard">
        <meta name="keywords" content="Devophp, Devops, Docker, Etcd, Puppet, Monitorring, Jenkins, Hipache, Symfony, PHP">
        <meta name="author" content="Joost Faassen and Devophp contributors">

        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.0.3/yeti/bootstrap.min.css">
        
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="http://getbootstrap.com/examples/dashboard/dashboard.css">
        <script type="text/javascript" src="//code.jquery.com/jquery-1.10.1.min.js"></script>

        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

        <title>Devophp Dashboard</title>

    </head>
    <body>

        <div class="container">
          <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6 main">
              <h1>Devophp Dashboard</h1>
{% block content %}{% endblock %}
            </div>
            <div class="col-md-3">
            </div>
          </div>
        </div>
    </body>
</html>
